<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android" 
    android:versionCode="1" 
    android:versionName="1.0" 
    package="processing.test.main">
    <uses-sdk 
        android:minSdkVersion="10"/>
    <application 
        android:debuggable="false" 
        android:icon="@drawable/icon" 
        android:label="main">
        <activity 
            android:name=".main">
            <intent-filter>
                <action 
                    android:name="main"/>
                <category 
                    android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>            
		</activity>            
	</application>            
</manifest>